/* GLOBAL */

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #222;
}
h1,
h3,
h5 {
  font-family: 'akzidenz_grotesk_medium', 'helvetica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}
h2 {
  font-family: 'PlutoSansLight', 'helvetica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h4 {
  font-family: 'PlutoSansMedium', 'helvetica', sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px;
  letter-spacing: 4px;
}
h6,
button,
span {
  font-family: 'PlutoSansMedium', 'helvetica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  font-family: 'PlutoSansLight', 'helvetica', sans-serif;
  line-height: 1.5em;
  padding-bottom: 10px;
}
b {
  font-family: 'PlutoSansMedium', 'helvetica', sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a,
button {
  -webkit-transition: 100ms ease-in;
  -moz-transition: 100ms ease-in;
  transition: 100ms ease-in;
}
button {
  padding: 8px 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
}
button:hover {
  color: #222;
  background-color: white;
}
button a {
  color: white;
}
button:hover a {
  color: #222;
}

/* PARALLAX */

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  perspective: 1px;
  -webkit-perspective-origin-x: 100%;
  -moz-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
}
.parallax-layer {
  margin-top: 300px;
  height: 100%;
  width: 100%;
  -webkit-transform-origin-x: 100%;
  -moz-transform-origin-x: 100%;
  transform-origin-x: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* Scale: 1 + (translateZ * -1) / perspective */
.parallax-layer-1 {
  -webkit-transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
.parallax-layer-2 {
  -webkit-transform: translateZ(-2px) scale(3);
  -moz-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
}
.parallax-layer-3 {
  -webkit-transform: translateZ(-3px) scale(4);
  -moz-transform: translateZ(-2.5px) scale(3.5);
  transform: translateZ(-2.5px) scale(3.5);
}
.parallax-layer-4 {
  -webkit-transform: translateZ(-4px) scale(5);
  -moz-transform: translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
}
.parallax-layer-5 {
  -webkit-transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1.5px) scale(2.5);
  transform: translateZ(-1.5px) scale(2.5);
}

/* SKUE TYPE */

.skue {
  padding: 100px 0;
  background-color: #333;
}
.skue img {
  height: auto;
  width: 100%;
}
.skue-1 {
  text-align: right;
  margin-left: 1%;
  margin-right: 81%;
}
.skue-2 {
  text-align: right;
  margin-left: 21%;
  margin-right: 61%;
}
.skue-3 {
  text-align: center;
  margin-left: 41%;
  margin-right: 41%;
}
.skue-4 {
  margin-left: 61%;
  margin-right: 21%;
}
.skue-5 {
  margin-left: 81%;
  margin-right: 1%;
}

/* NAV */

.nav {
  color: white;
  margin-top: 0;
  padding: 20px;
}
.nav h4 {
  float: left;
  margin-top: 5px;
}

.learn-more {
  float: right;
}

.event {
  position: relative;
  margin-top: 50px;
}

.share {
  float: right;
  color: white;
  text-align: right;
}

.share a {
  color: white;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 4px;
  border: 2px solid white;
}

.share a:hover {
  color: #222;
  background-color: white;
}

.share a i {
  line-height: 35px;
}

/* CONTENT */

.content {
  width: 100%;
  min-height: 1600px;
  margin-top: 0;
  padding-top: 150vh;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* COUNTDOWN TIMER */

.countdown {
  color: white;
  text-align: center;
  padding: 50px 15px;
  background-color: #222;
  margin-bottom: 0; /* space in between sections */
}
.timer div {
  color: white;
  display: inline-block;
  margin-left: 25px;
  font-family: 'akzidenz_grotesk_medium';
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.timer div:first-child {
  margin-left: 0;
}
.timer div span {
  display: block;
  border-top: 2px solid #cecece;
  padding-top: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

/* ABOUT */

.about {
  /* background: url('../images/sketches.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  padding: 50px 20px 100px;
  background-color: white;
}
.about .statement {
  height: 100%;
  padding: 0 20px;
}
.about .statement img {
  margin: 0 auto 40px;
  width: 300px;
}
.about .statement p {
  margin: 0 auto;
  max-width: 480px;
  color: #222;
}
.about .slick-dots {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center
}
.about .slick-dots li {
  display: inline-block;
}
.about .slick-dots li button {
  outline: none;
  border: none;
  padding: 5px;
  font-size: 0; /* hacky hacky */
  background: transparent;
  cursor: pointer;
}
.about .slick-dots li button:before {
  font-family: 'FontAwesome';
  content: "\f111";
  font-size: 8px;
  color: #ddd;
}
.about .slick-dots li.slick-active button:before {
  color: black;
}
.about .slick-prev,
.about .slick-next {
  font-size: 0;
  width: 80px;
  height: 100%;
  border: none;
  text-align: center;
}
.about .slick-prev:hover,
.about .slick-next:hover {
  background-color: transparent;
}
.about .slick-prev {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 40px;
}
.about .slick-next {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0;
  padding-left: 40px;
}
.about .slick-prev:before {
  font-family: 'FontAwesome';
  content: "\f104";
  font-size: 32px;
  color: #ddd;
}
.about .slick-next:before {
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 32px;
  color: #ddd;
}

/* PEOPLE */

.people {
  padding: 50px 20px;
  list-style-type: none;
  color: white;
  background-color: #222;
  text-align: center;
}

.people h4 {
  margin-bottom: 40px;
}

.people .column {
  padding: 10px;
}

.people .aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 200%;
}

.people .person {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #333;
}

.people .person img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: auto;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.people .person .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  text-align: left;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.people .person:hover img {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  transform: translateX(20%);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.people .person:hover .info {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.people .person h4 {
  margin: 0;
}

.people .person ul {
  position: absolute;
  bottom: 10px;
  left: 10px;
  list-style-type: none;
  padding: 0;
}

.people .person ul li {
  text-align: center;
}

.people .person a {
  display: block;
  margin-top: 10px;
  color: white;
  border: 2px solid white;
}

.people .person a:hover {
  color: #222;
  background-color: white;
}

.people .person .fa {
  line-height: 35px;
  width: 35px;
  height: 35px;
}

/* FOOTER */

footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

footer button {
  padding: 8px 20px;
}

footer button a {
  color: white;
}

footer button:hover a {
  color: #222;
}

footer .colophon {
  float: left;
  text-align: center;
}

footer span {
  margin: 0 5px;
}

footer span a {
  color: #333;
}

footer span a:hover {
  color: #555;
}

/* MEDIA QUERIES */

@media screen and (min-width:1200px) {
  footer .colophon {
    padding: 8px;
  }
}
@media screen and (max-width:991px) {
  footer .colophon {
    padding: 40px;
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  .skue {
    padding: 150px 0;
  }
  .nav .learn-more {
    display: none;
  }
  .timer div {
    font-size: 70px;
  }
  .content {
    padding-top: 100vh;
  }
  .people .person img {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
  }
  .people .person .info {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media screen and (max-width:480px) {
  .skue {
    padding: 200px 0;
  }
  .content {
    padding-top: 800px;
  }
  .timer div {
    font-size: 50px;
  }
  .timer div span {
    font-size: 14px;
  }
  .about .slick-prev,
  .about .slick-next {
    vertical-align: top;
  }
  .people h4 {
    font-size: 14px;
  }
  .people .person .fa {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  footer .col-xxs-12 {
    text-align: center;
    width: 100%!important;
  }
  footer .colophon span {
    margin-right: 0;
    margin: 0 auto;
    display: block;
    float: none;
    text-align: center;
  }
  footer .action,
  footer .share {
    margin-bottom: 20px;
  }
}